
.contenedor-factura {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 32px;
    color: #1f2937;
}
.header-factura{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Lista de facturas */
#facturas {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Tarjeta */
.factura {
    background-color: white;
    padding: 22px 25px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    gap: 20px 30px;

    transition: 0.2s ease;
}

.factura:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* Título ocupa las dos columnas */
.factura h2 {
    grid-column: 1 / -1;

    margin: 0 0 8px 0;
    padding-bottom: 12px;

    font-size: 20px;
    color: #111827;

    border-bottom: 1px solid #e5e7eb;
}

/* Información de factura */
.factura p {
    margin: 0;
    padding: 10px 12px;

    background-color: #f8fafc;
    border-radius: 7px;

    color: #4b5563;
    font-size: 15px;
}

/* Último elemento */
.factura p:last-of-type {
    font-weight: bold;
}


.editar{
    grid-column: 1 / -1;
    justify-self: end;
    margin-top: 8px;
    padding: 10px 18px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease;
}
.boton:hover {
    background-color: #1d4ed8;
}


/* =========================================
   TELÉFONOS
   ========================================= */

@media (max-width: 600px) {

    body {
        padding: 20px 15px;
    }

    .contenedor-factura {
        width: 100%;
    }

    h1 {
        font-size: 27px;
        margin-bottom: 20px;
    }

    #facturas {
        gap: 15px;
    }

    .factura {
        width: 100%;
        padding: 18px;
        grid-template-columns: 1fr;
        gap: 10px;
        border-radius: 10px;
    }

    .factura h2 {
        grid-column: auto;
        font-size: 19px;
    }

    .factura p {
        font-size: 14px;
    }

   .boton {
    display: inline-block;

    padding: 10px 18px;

    background-color: #2563eb;
    color: white;

    text-decoration: none;

    border-radius: 7px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;

    transition: background-color 0.2s ease,
                transform 0.2s ease;
}

.boton:hover {
    background-color: #1d4ed8;
    transform: translateY(-1px);
}

.boton:active {
    transform: translateY(0);
}
}